<!DOCTYPE html>
<html>
<head>
  <title>Gizmos</title>
  <%= stylesheet_link_tag    "gizmos/application", media: "all" %>
  <%= javascript_include_tag "gizmos/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
